 .contactsMain2{
  position: relative;
  margin: auto;
  min-width: 85%;
  width: fit-content;
  /* display: flex;
  justify-content: center;
  align-items: center; */
 }

 .contactImg1 {
  width: 100px;
 }
 .slider {
  position: relative;
    /* width: 500px; */
    height: 500px;
    margin: auto;
  }

  
.slide {
  /* height: 100%; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* transform: translateY(-50%); */
  
  /* opacity: 0;
  transition: opacity 1s ease; */

  flex: 0 0 100%;
  transition: transform 1s ease;
}

.imgSliders {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
  object-position: center center;
}

.prev,
.next {
  cursor: pointer;
  background-image: -webkit-linear-gradient(#e4edb3, #0f8fea);
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.815); 
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

